{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <table class="table" style="background-color: burlywood;">
        <thead>
          <tr>
            <th scope="col">ID Number</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Crime</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        {% for r in reports %}
        <div>
        <tbody>
          <tr>
            <th scope="row">{{r.IDNumber}}</th>
            <td>{{r.Name}}</td>
            <td>{{r.PhoneNumber}}</td>
            <td>{{r.CrimeType}}</td>
            <td><a href="{% url 'delete_police' id=r.id %}">Clear</a></td>
          </tr>
        </tbody>
    </div>
{% endfor %}
</table>
<a href="{% url 'home' %}" class="btn smoothscroll btn-primary mr-10 mb-10">Main Page</a>
</div>

{% endblock %}